<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>课程简介</title>
    <link rel="stylesheet" type="text/css" href="/static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/assets/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/system.css">
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <script src="/static/js/jquery-1.12.2.js"></script>
    <script src="/static/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/assets/artTemplate/template-native.js"></script>
    <script src="/static/js/common.js"></script>
    <script type="text/javascript">
function checkSubmit(){
$.post("/addMsg",$("#update_customer_form").serialize(),function(msg){
if (msg == "ok") {
alert("添加成功");
    window.location.reload();
 } else {
    window.location.reload();
    }});
}

function findMes(id){
    $.post("/findMes",{"id":id},function(msg){
        $("#id1").val(msg.id);
        $("#name1").val(msg.name);
        $("#teaName1").val(msg.teaName);
        $("#time1").val(msg.time);
        $("#msg1").val(msg.msg);
        $("#zhangjie1").val(msg.zhangjie);
    })
}

function updateMes(){
   $.post("/updateMes",$("#update").serialize(),function(date){
        if(date=="ok"){
    alert("修改成功");
    window.location.reload();
    }else{
    alert("修改失败");
        window.location.reload();
    }
   });
}

function deleteMsg(id){
if(confirm("确认删除吗？")){
    $.post("/deleteMsg",{"id" : id},function(msg){
    if(msg=="ok"){
    alert("删除成功");
    window.location.reload(true);
    }else{
    alert("删除失败");
    window.location.reload(true);
    }
    });
    }
}


</script>


</head>
<body class="mybk">

<div class="system">
    <div class="aside">
        <div class="profile">
            <div class="avatar img-circle">
                <a href="/index.html">
                    <img th:src="${session.user.img}"></a>
            </div>
            <h4><span th:text="${session.user.name}"></span></h4>
        </div>
        <div class="navs">
            <ul class="list-unstyled">
                <li class="active"><a
                        href="/coureseMsg.html"> <i
                        class="fa fa-user"></i> 课程简介
                </a></li>
                <li><a href="javascript:;"> <i class="fa fa-bars"></i>
                    课程资源 <i class="fa fa-angle-right"></i>
                </a>
                    <ul class="list-unstyled">
                        <li><a
                                href="/video.html">视频</a></li>
                        <li><a href="/case.html">案例</a></li>
                    </ul>
                </li>
                <li><a href="/coursePlan.html"> <i
                        class="fa fa-product-hunt"></i> 课程教案
                </a></li>
                <li>
                    <a href="/testExercise.html"> <i
                            class="fa fa-product-hunt"></i> 测试练习
                    </a>
                </li>
                <li><a
                        href="/teacherTeam.html">
                    <i class="fa fa-user"></i> 教师团队
                </a></li>
            </ul>
        </div>
    </div>
    <div class="main">
        <div class="header">
            <nav class="navbar navbar-custom">

                <ul class="nav navbar-nav navbar-right">
                    <li>身份：<span th:text="${session.type}" style="color: blue"></span></li>
                    <li><a href="/logOut"
                           class="login_out_bot"> <i class="fa fa-sign-out"></i>退出
                    </a></li>
                </ul>
                <div class="mydivh1">
                    <h3>课程简介</h3>
                </div>
            </nav>

            &emsp; <div class="findTolike">
            <form action="/coureseMsg.html" method="get">
                高级查询&emsp;&emsp;名字：<input  name="name" type="text">
                <input type="submit" id="selectMsg" value="查询"></a>&emsp;
                <a href=""
                   data-toggle="modal" data-target="#addCou"
                   data-whatever="@getbootstrap"><button type="btn btn-primary">添加课程</button></a>
                </a>
            </form>
            &emsp;
        </div>

        </div>
        <div class="body"style="height: 460px; width: 1050px">

            <div>
               <!--课程封面-->
                <div class="fengmian" th:each="msg : ${msg}">
                    <img th:src="@{${msg.img}}">
                </div>
                <!--课程信息-->
                <div class="classmsg">
                    <br>
                    <br>
                    <ul th:each="msg:${msg}" class="uls">
                        <li>课程名：<span th:text="${msg.name}"></span></li>
                        <li>讲师：<span th:text="${msg.teaName}"></span></li>
                        <li>开课时间：<span th:text="${msg.time}"></span></li>
                        <li>内容简介：<span th:text="${msg.msg}"></span></li>
                        <li>章节：</li>
                        <li th:text="${msg.zhangjie}"></li>
                        <div align="right">
                            <a href=""
                               data-toggle="modal" data-target="#updateCou"
                               data-whatever="@getbootstrap">
                                <button type="btn btn-primary" th:onclick="findMes([[${msg.id}]])">修改课程信息</button></a>
                            </a>
                            <a href=""
                               th:onclick="deleteMsg([[${msg.id}]])">
                                <button type="btn btn-primary">删除</button>
                            </a>
                        </div>
                    </ul>
                </div>

                <div class="floot1">共 <span th:text="${pg.tp}"></span>页
                    第<span th:text="${pg.cp}"></span>页
                    <span><a th:href="@{${pg.url}+'&cp=1'}">首頁</a></span>
                    <span th:if="${pg.cp}>1">
                        <a th:href="@{${pg.url}+'&cp='+${pg.cp-1}}">上一页</a>
                    </span>
                    <a th:href="@{${pg.url}+'&cp='+${pg.cp-3}}">
                        <span th:if="${pg.cp-3>=1}" th:text="${pg.cp-3}"></span>
                    </a>
                    <a th:href="@{${pg.url}+'&cp='+${pg.cp-2}}">
                        <span th:if="${pg.cp-2>=1}" th:text="${pg.cp-2}"></span>
                    </a>
                    <a th:href="@{${pg.url}+'&cp='+${pg.cp-1}}">
                        <span th:if="${pg.cp-1>=1}" th:text="${pg.cp-1}"></span>
                    </a>
                    <a th:href="@{${pg.url}+'&cp='+${pg.cp}}">
                        <span th:if="${pg.cp>=1}" th:text="${pg.cp}"></span>
                    </a>
                    <a th:href="@{${pg.url}+'&cp='+${pg.cp+1}}">
                        <span th:if="${pg.cp+1<=pg.tp}" th:text="${pg.cp+1}"></span>
                    </a>
                    <a th:href="@{${pg.url}+'&cp='+${pg.cp+2}}">
                        <span th:if="${pg.cp+2<=pg.tp}" th:text="${pg.cp+2}"></span>
                    </a>
                    <a th:href="@{${pg.url}+'&cp='+${pg.cp+3}}">
                        <span th:if="${pg.cp+3<=pg.tp}" th:text="${pg.cp+3}"></span>
                    </a>

                    <span th:if="${pg.cp<pg.tp}">
                        <a th:href="@{${pg.url}+'&cp='+${pg.cp+1}}">下一页</a>
                    </span>
                    <span>
                        <a th:href="@{${pg.url}+'&cp='+${pg.tp}}">末頁</a>
                    </span>
                </div>

            </div>



        </div>





</div>
</div>


</body>
</html>

<div class="modal fade" id="addCou" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="exampleModalLabel">添加课程</h4>
            </div>
            <div class="modal-body">

                <form class="form-horizontal" id="update_customer_form"
                      method="post"  enctype="multipart/form-data">

                    <div class="form-group">
                        <label for="message-text" class="control-label">课程名字：</label> <input
                            type="text" class="form-control" id="name"
                            name="name">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="control-label">讲师名字：</label> <input
                            type="text" class="form-control" id="teaName" name="teaName">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="control-label">开课时间：</label> <input
                            type="text" class="form-control" id="time" name="time">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="control-label">课程内容简介：</label> <input
                            type="text" class="form-control" id="msg" name="msg">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="control-label">章节：</label> <input
                            type="text" class="form-control" id="zhangjie" name="zhangjie">
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="submitBtn" onclick="checkSubmit()">
                    添加</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    关闭</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="updateCou" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="exampleModalLabel">修改课程信息</h4>
            </div>
            <div class="modal-body">

                <form class="form-horizontal" id="update"
                      method="post"  enctype="multipart/form-data">

                    <input type="hidden" id="id1" name="id">
                    <div class="form-group">
                        <label for="message-text" class="control-label">课程名字：</label> <input
                            type="text" class="form-control" id="name1"
                            name="name">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="control-label">讲师名字：</label> <input
                            type="text" class="form-control" id="teaName1" name="teaName">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="control-label">开课时间：</label> <input
                            type="text" class="form-control" id="time1" name="time">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="control-label">课程内容简介：</label> <input
                            type="text" class="form-control" id="msg1" name="msg">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="control-label">章节：</label> <input
                            type="text" class="form-control" id="zhangjie1" name="zhangjie">
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="ssss" class="btn btn-primary" onclick="updateMes()">
                    修改</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    关闭</button>
            </div>
        </div>
    </div>
</div>