<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="/static/css/login.css" rel="stylesheet" type="text/css"/>
    <script src="/static/js/jquery-1.12.2.js"></script>
    <script src="/static/js/login.js">
    </script>
    <title>欢迎登陆课程资源平台</title>
</head>
<body>
<div id="header">
    <h1>课程资源管理登陆</h1>
</div>
<div id="logindiv">
    <h3>请输入账号和密码</h3>
    <form action="" method="post" id="loginForm">
        <input type="text" id="User_ID" name="id" size="15"
               s placeholder="请输入账号"><br> <span id="idMsg"></span><br>
        <input type="password" name="password" id="Pwd" size="15"
               placeholder="请输入密码"><br> <span id="pwdMsg"></span><br>
        <input type="button" value="登           陆" id="userSubmit">
        <span id="sp1" th:text="${msg}"></span>
    </form>

    <div id="foot">
        <a href="#">忘记密码？</a> | <a href="/register.html">注册账号</a>
    </div>
</div>

<div id="footer">
    <a href="#">关于开发者</a> | <a href="" id="">联系我们</a>
</div>


</body>
</html>