<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>测试练习</title>
    <link rel="stylesheet" type="text/css" href="/static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/assets/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/system.css">
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <script src="/static/js/jquery-1.12.2.js"></script>
    <script src="/static/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/assets/artTemplate/template-native.js"></script>
    <script src="/static/js/common.js"></script>
    <script src="/static/js/user.js"></script>
    <script src="/static/js/testExercise.js"></script>
</head>
<body>
<div class="system">
    <div class="aside">
        <div class="profile">
            <div class="avatar img-circle">
                <a href="/index.html"><img
                        th:src="${session.user.img}"></a>
            </div>
            <h4><span th:text="${session.user.name}"></span></h4>
        </div>
        <div class="navs">
            <ul class="list-unstyled">
                <li class="active"><a
                        href="/coureseMsg.html"> <i
                        class="fa fa-user"></i> 课程简介
                </a></li>
                <li><a href="javascript:;"> <i class="fa fa-bars"></i>
                    课程资源 <i class="fa fa-angle-right"></i>
                </a>
                    <ul class="list-unstyled">
                        <li><a
                                href="/video.html">视频</a></li>
                        <li><a href="/case.html">案例</a></li>

                    </ul>
                </li>
                <li><a href="coursePlan.html"> <i
                        class="fa fa-product-hunt"></i> 课程教案
                </a></li>
                <li>
                    <a href="/testExercise.html"> <i
                            class="fa fa-product-hunt"></i> 测试练习
                    </a>
                </li>
                <li><a
                        href="/teacherTeam.html">
                    <i class="fa fa-user"></i> 教师团队
                </a></li>
            </ul>
        </div>
    </div>
    <div class="main">
        <div class="header">
            <nav class="navbar navbar-custom">

                <ul class="nav navbar-nav navbar-right">
                    <li>身份:<span th:text="${session.type}" style="color: blue"></span></li>
                    <li><a href="/logOut"
                           class="login_out_bot"> <i class="fa fa-sign-out"></i>退出
                    </a></li>
                </ul>
                <div class="mydivh1">
                    <h3>测试练习</h3>
                </div>
            </nav>
        </div>

        <div class="findTolike">
            <form action="/testExercise.html"
                  method="get">
                高级查询&emsp;&emsp; 题目关键字：<input id="vip_id" name="topic" type="text">&emsp;<a><input
                    type="submit" id="selectVIPG" value="查询"></a>&emsp;
                <a href=""
                   data-toggle="modal" data-target="#addModal"
                   data-whatever="@getbootstrap"><button type="btn btn-primary">添加题目</button></a>
                </a>
            </form>
            &emsp;
        </div>

        <div class="body">

            <div style="height: 410px; width: 1100px">
                <center><span style="font-size:20px">试题库管理</span></center>
                <div th:each="el,ex:${exerciseList}" th:class="${ex.odd}?'odd':'even'">
                    <input class="result" type="hidden" th:value="${el.result}">
                    <span th:text="${ex.count+(pg.cp-1)*5}"></span>.<span th:text="${el.topic}"></span>
                    <a href=""
                       data-toggle="modal" data-target="#updateModal"
                       data-whatever="@getbootstrap">
                        <button type="btn btn-primary" th:onclick="fidEx([[${el.id}]])">修改</button>
                    </a>
                    <a href="#"><button type="btn btn-primary" th:onclick="deleteEx([[${el.id}]])">删除</button>
                    </a>
                    <br>
                    <form action="" method="get">
                        <input class="Option" name="Fruit" type="radio" value="A" />A.<span th:text="${el.optionA}"></span>&emsp;&emsp;
                        <input class="Option" name="Fruit" type="radio" value="B" />B.<span th:text="${el.optionB}"></span>&emsp;&emsp;
                        <input class="Option" name="Fruit" type="radio" value="C" />C.<span th:text="${el.optionC}"></span>&emsp;&emsp;
                        <input class="Option" name="Fruit" type="radio" value="D" />D.<span th:text="${el.optionD}"></span>&emsp;&emsp;
                    </form>
                    <br>
                </div>
                <div class="floot">共 <span th:text="${pg.tp}"></span>页
                    第<span th:text="${pg.cp}"></span>页
                    <span><a th:href="@{${pg.url}+'&cp=1'}">首頁</a></span>
                    <span th:if="${pg.cp}>1">
                        <a th:href="@{${pg.url}+'&cp='+${pg.cp-1}}">上一页</a>
                    </span>
                    <a th:href="@{${pg.url}+'&cp='+${pg.cp-3}}">
                        <span th:if="${pg.cp-3>=1}" th:text="${pg.cp-3}"></span>
                    </a>
                    <a th:href="@{${pg.url}+'&cp='+${pg.cp-2}}">
                        <span th:if="${pg.cp-2>=1}" th:text="${pg.cp-2}"></span>
                    </a>
                    <a th:href="@{${pg.url}+'&cp='+${pg.cp-1}}">
                        <span th:if="${pg.cp-1>=1}" th:text="${pg.cp-1}"></span>
                    </a>
                    <a th:href="@{${pg.url}+'&cp='+${pg.cp}}">
                        <span th:if="${pg.cp>=1}" th:text="${pg.cp}"></span>
                    </a>
                    <a th:href="@{${pg.url}+'&cp='+${pg.cp+1}}">
                        <span th:if="${pg.cp+1<=pg.tp}" th:text="${pg.cp+1}"></span>
                    </a>
                    <a th:href="@{${pg.url}+'&cp='+${pg.cp+2}}">
                        <span th:if="${pg.cp+2<=pg.tp}" th:text="${pg.cp+2}"></span>
                    </a>
                    <a th:href="@{${pg.url}+'&cp='+${pg.cp+3}}">
                        <span th:if="${pg.cp+3<=pg.tp}" th:text="${pg.cp+3}"></span>
                    </a>

                    <span th:if="${pg.cp<pg.tp}">
                        <a th:href="@{${pg.url}+'&cp='+${pg.cp+1}}">下一页</a>
                    </span>
                    <span>
                        <a th:href="@{${pg.url}+'&cp='+${pg.tp}}">末頁</a>
                    </span>
                </div>

            </div>
        </div>

    </div>
</div>

</div>
</body>
</html>


<div class="modal fade" id="addModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="exampleModalLabel">添加试题</h4>
            </div>
            <div class="modal-body">

                <form class="form-horizontal" id="update_customer_form"
                      method="post">

                    <div class="form-group">
                        <label for="message-text" class="control-label">題目：</label> <input
                            type="text" class="form-control" id="topic"
                            name="topic">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="control-label">選項A：</label> <input
                            type="text" class="form-control" id="optionA" name="optionA">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="control-label">選項B：</label> <input
                            type="text" class="form-control" id="optionB" name="optionB">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="control-label">選項C：</label> <input
                            type="text" class="form-control" id="optionC" name="optionC">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="control-label">選項D：</label> <input
                            type="text" class="form-control" id="optionD" name="optionD">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="control-label">正確答案：</label> <input
                            type="text" class="form-control" id="result" name="result">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="addEx()">
                    添加</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    关闭</button>
            </div>
        </div>
    </div>
</div>


<div>
    <div class="modal fade" id="updateModal" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="exampleModalLabel">修改题目信息</h4>
                </div>
                <div class="modal-body">

                    <form class="form-horizontal" id="update"
                          method="post">

                        <input type="hidden" id="id1" name="id">
                        <div class="form-group">
                            <label for="message-text" class="control-label">題目：</label> <input
                                type="text" class="form-control" id="topic1"
                                name="topic">
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="control-label">選項A：</label> <input
                                type="text" class="form-control" id="optionA1" name="optionA">
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="control-label">選項B：</label> <input
                                type="text" class="form-control" id="optionB1" name="optionB">
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="control-label">選項C：</label> <input
                                type="text" class="form-control" id="optionC1" name="optionC">
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="control-label">選項D：</label> <input
                                type="text" class="form-control" id="optionD1" name="optionD">
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="control-label">正確答案：</label> <input
                                type="text" class="form-control" id="result1" name="result">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="UpdateEx()">
                        修改</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        关闭</button>
                </div>
            </div>
        </div>
    </div>
</div>